*.iml
.gradle
/local.properties
/.idea/*
!/.idea/.gitignore
!/.idea/codeStyles/
!/.idea/inspectionProfiles/
!/.idea/runConfigurations/
!/.idea/.name
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# Allow config directory
!/config/
